<div class="max-height flex-center">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h1>Login</h1>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="adam@example.com" [formControl]="emailControl">
        <mat-error *ngIf="emailControl.invalid">{{getErrorMessage(emailControl)}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Password</mat-label>
        <input matInput [formControl]="passwordControl" [type]="hidePassword ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="emailControl.invalid">{{getErrorMessage(passwordControl)}}</mat-error>
      </mat-form-field>
      <div *ngIf="errorMessage != null" class="error-message">{{errorMessage}}</div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
    <div>Don't have an account? <a routerLink="/register">Register</a></div>
</div>
