/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.max-height {
  min-height: 100%;
  background: linear-gradient(to right, rgb(38 120 55 / 20%), rgb(138 19 1 / 20%));
}

.error-message {
  color: red;
  margin: 5px 0;
}
